{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content%}
<form method="post" action="{% url 'signup_page' %}">
{% csrf_token %}
<h1 align="center">Signup here</h1></br>
{% if error %}
<div class="alert alert-warning" role="alert">
  {{error}}
</div>
{% endif%}
Username:
<br/>
<input type="text" name="username"/>
</br>
Password:
<br/>
<input type="password" name="password1"/>
</br>
Confirm Password:
<br/>
<input type="password" name="password2"/>
</br>
</br>
<input class="btn btn-primary" type="submit" name="Signup"/>
</form>
{% endblock %}